@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

:root {
  --color-red: red;
}

:root {
  --common-block-background: rgba(255, 255, 255, 0.8);
  --common-block-box-shadow: 0 1px 8px 0 #888;
  --common-block-radius: 3px;
  --common-content-padding: 2rem 2.5rem;
  --common-font-color: #333;
  /* 按钮等元素点击时背景色 */
  --common-active-background: rgba(238, 238, 238, 0.8);

  /* 头像边框颜色 */
  --simple-info_icon-border: 3px solid #fff;

  /* 版块牌子 */
  --plate-name-color: #fff;
  --plate-name-font-size: var(--text-logo-size);
  --plate-name-text-shadow: 1px 1px 8px #000;

  /* 文字 */
  --text-common-size: 18px;
  --text-logo-size: 22px;
}

:root {
  --error-color: var(--color-red);
}

* {
  font-family: 'Fira Code', 'Noto Sans SC', 'Noto Serif SC', monospace;
}

body {
  margin: 0;
  font-size: var(--text-common-size);
}

button {
  font-size: unset;
}

.markdown-body {
  font-size: unset !important;
}

/* 全局块元素包装 */
.global-block-wrapper {
  background-color: var(--common-block-background) !important;
  border-radius: var(--common-block-radius);
  box-shadow: var(--common-block-box-shadow);
  box-sizing: border-box;
  padding: 0.4rem 0.5rem;
}

input,
textarea {
  outline: none;
}

/** 时间: 2024-08-25
* 操作人: MGRoid
* 操作: 定义我写的样式
*/
/* 弹性居中样式 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 栅格居中样式 */
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* 图片浏览背景 */
.n-image-preview-overlay {
  background-color: #333333fb;
}
/* 图片浏览工具栏 */
.n-image-preview-toolbar{
  left: 1%;
  top: 50%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: 19rem;
  padding:12px ;
  transform: translateY(-50%);
}
/* 工具栏图标 */
.n-image-preview-toolbar .n-base-icon{
margin: 0.2rem;
}
/* 工具栏弹出提示 */
.v-binder-follower-container .v-binder-follower-content{
  width: 9rem;
  display: flex;
}