@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Noto Sans JP';
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;

  color-scheme: light dark;
}

:root {
  /* 颜色 */
  --color-font-on-deep-background: #fff;
  --color-layout-content-background: rgba(255, 192, 203, 0.8);
  --color-header-background: rgba(255, 100, 100, 0.6);
  --color-sidebar-background: rgba(255, 255, 255, 0.8);
  --color-footer-background: rgba(0, 128, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(230, 230, 255, 1);
    background-color: #242424;
  }

  :root {
    /* 颜色 */
    --color-layout-content-background: rgba(15, 15, 25, 0.8);
    --color-header-background: rgba(255, 100, 100, 0.6);
    --color-sidebar-background: rgba(2, 2, 2, 0.8);
    --color-footer-background: rgba(0, 128, 0, 0.8);
  }
}

body {
  margin: 0;
  font-size: 1rem;
}

@media (max-aspect-ratio: 1/1) {
  :root {
    font-size: calc(18px * 1.25);
  }
}

label {
  font-size: 1.1rem;
}

body input {
  font-size: 1rem;
}
